loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1  # 1 for local/testing (no durable zones in Kind)
  schemaConfig:
    configs:
      - from: "2025-11-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  storage:
    type: s3
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin

  limits_config:
    allow_structured_metadata: true
  ingester:
    chunk_encoding: snappy
  tracing:
    enabled: true
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 4

gateway:
  ingress:
    enabled: true
    hosts:
      - host: loki.local
        paths:
          - path: /
            pathType: Prefix

deploymentMode: Distributed

# Enable minio for storage
minio:
  enabled: true

ingester:
  replicas: 3 # To ensure data durability with replication
  # zoneAwareReplication not required in test setup with only 1 replica
  zoneAwareReplication:
    enabled: true
querier:
  replicas: 3 # Improve query performance via parallelism
  maxUnavailable: 2
queryFrontend:
  replicas: 2
  maxUnavailable: 1
queryScheduler:
  replicas: 2
distributor:
  replicas: 3
  maxUnavailable: 2
compactor:
  replicas: 1
indexGateway:
  replicas: 2
  maxUnavailable: 1
ruler:
  replicas: 1

bloomPlanner:
  replicas: 0
bloomBuilder:
  replicas: 0
bloomGateway:
  replicas: 0

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

singleBinary:
  replicas: 0
